{"Josh":(name:"Josh",statsmax:{"wis":100,"soul":100,"hp":100,"energy":10,"str":100,"know":100,"dex":100,},stats:{"energy":10,"wis":100,"dex":100,"str":100,"know":100,"hp":100,"soul":100,},exp:0,fight_or_flight:0,),}